### Eclipse
.cproject
.cproject.clean
.externalToolBuilders
.project
.settings
.pmd

### QtCreator
*.pro.user
couch.prof

### Generated
Makefile*
bin/
doc/
build/
lib/
**/debug/
**/release/

### Misc
*.Doxyfile
profile
reports
